[Unit]
Description=Autossh Persistent Reverse SSH Tunnel
After=network.target

[Service]
User=hiraeth
ExecStart=/usr/bin/autossh -M 30000 -NTR 2105:localhost:22 aliecs@120.26.223.0
Restart=always
RestartSec=10
KillMode=process
Environment="AUTOSSH_GATETIME=0"
Environment="AUTOSSH_POLL=30"

[Install]
WantedBy=multi-user.target
