* {
  border: none;
  font-family: Maple Mono NF;
  font-weight: 400;
  font-size: 12px;
  min-height: 0;
}
window#waybar {
  background: none;
  margin: 0px;
  padding: 0px;
}
#taskbar,
#clock,
#pulseaudio,
#cpu,
#backlight,
#network,
#workspaces,
#tray,
#tags {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  margin-left: 0px;
  padding-left: 0px;
}

#tags button {
  background-color: #acb7dc;
  color: #7589ce;
  border-radius: 0px;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

#tags button.occupied {
  background-color: #dcb7dc;
  color: #ef616a;
}

#tags button.focused {
  background-color: #9c8eff;
  color: #cd618a;
}

#tags button.urgent {
  background: rgb(171, 101, 101);
  color: #cc241d;
}

#tray {
  border-radius: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 0px;
  color: #ddca9e;
}
#window {
  background-color: #9fe29a;
  color: #2a303c;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  border-radius: 2px;
  margin-left: 3px;
  margin-right: 3px;
}
#backlight {
  background: rgba(40, 40, 40, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-right: 4px;
}

#battery {
  background: rgba(40, 40, 40, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

window#waybar.empty #window {
  background-color: #d8dee9;
  color: transparent;
  border-bottom: none;
  box-shadow: none;
}

#network {
  background: rgba(40, 40, 40, 0.76);
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  padding-right: 8px;
  padding-left: 8px;
  color: #ddca9e;
}

#cpu  {
  background: rgba(40, 40, 40, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-color: #c9b890;
  border-right: 2px;
  border-left: 2px;
  padding-right: 8px;
  padding-left: 8px;
}

#pulseaudio {
  background: rgba(40, 40, 40, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #c9b890;
  border-right: 0px;
  margin-left: 0px;
  border-radius: 4px 0px 0px 4px;
}
