spawn-at-startup "ashell"

spawn-at-startup "awww-daemon"
spawn-at-startup "bash" "-c" "exec $HOME/.config/niri/wallpaper-cycle.sh"

layer-rule {
    match namespace="^awww-daemon"
    place-within-backdrop true
}

layout {
	background-color "transparent"

    focus-ring {
        active-color "#9ccbfb"
        inactive-color "#8c9199"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9ccbfb"
        inactive-color "#8c9199"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9ccbfb"
        inactive-color "#8c9199"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9ccbfb80"
    }
}

overview {
	backdrop-color "#101418"
}

recent-windows {
    highlight {
        active-color "#9ccbfb"
        urgent-color "#ffb4ab"
    }
}