layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
binds {
    Super+A {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"
    }
    Super+V {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "clipboard"
    }
    Alt+B {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "bar" "toggle"
    }
    Alt+Shift+B {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "dock" "toggle"
    }
    Super+I {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "controlCenter" "toggle"
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"
